/* base > color
============================================================================================================ */

/* 基本色一覧*/

$white00: white;
/*白*/

$black00: black;
/*黒*/

$gray00: gray;
$gray01: #707070;
/*灰色*/

$yellow00: yellow;
/*黄*/

$red00: red;
/*赤*/

$blue00: blue;
/*青*/

$green00: green;
$green01: #AFBA9C;
$green02: #CCD9C1;
/*緑*/

$gold00:gold;
/*金*/

$brown00:brown;
$brown01:#13320B;
$brown02:#BAA89C;
$brown03:#FDF6F0;
$brown04:#394F33;
$brown05:#A7B89D;
/*茶*/
