/*  layout > footer
============================================================================================================ */

.common-footer{
  position: relative;
  background-color: $brown01;
  color: $white00;
  @include mq_sp{}
  &__pageTop{
    @include font-size(17);
    color: $black00;
    line-height: (25/17);
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 500;
    position: fixed;
    right: calc(20px - 0.05em);
    bottom: 20px;
    z-index: 5;
    padding-top: 37px;
    cursor: pointer;
    @include mq_sp{
      $vw_20: size_sp(20);
      @include fz_vw(28);
      line-height: (40/28);
      width: size_sp(74);
      right: calc(#{$vw_20} - 0.05em);
      bottom: size_sp(40);
      padding-top: size_sp(63);
    }
    &:before{
      content: "";
      width: 44px;
      height: 37px;
      background: url(http://placehold.jp/000000/ffffff/44x37.png?text=Top) no-repeat center/cover;
      position: absolute;
      top: 0;
      left: calc(50%);
      transform: translateX(-50%);
      z-index: 0;
      transition: 0.5s;
      @include mq_sp{
        width: size_sp(74);
        height: size_sp(63);
        background: url(http://placehold.jp/000000/ffffff/74x63.png?text=Top) no-repeat center/cover;
      }
    }
    &.is-stop{
      position: absolute;
      bottom: calc(100% + 20px);
      @include mq_sp{
        $vw_40: size_sp(40);
        bottom: calc(100% + #{$vw_40});
      }
    }
    &:hover{
      &:before{
        transform: translate(-50%,-30%) rotateY(180deg);
      }
    }
  }
  &__inner{
    max-width: 768px;
    width: 100%;
    padding: 44px 0 22px;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(640);
      padding: size_sp(83) 0 size_sp(46);
    }
  }
  &__logo {
    width: 111px;
    margin: 0 auto;
  }
  &__sns {
    margin-top: 30px;
    @include flex(flex, wrap, center, center, normal, row);
    & a {
      line-height :1;
      width: 26px;
      display: block;
      &:nth-of-type(n + 2) {
        margin-left: 20px;
      }
      & img {
        height : auto;
      }
    }
  }
  &__nav{
    margin-top: 49px;
    &Menu{
      @include flex(flex, wrap, center, normal, normal, row);
      line-height: 1;
      li{
        font-size: 20px;
        line-height : (22/20);
        letter-spacing: 0.1em;
        text-align: center;
        border-bottom: solid 1px $white00;
        a{
          display: block;
          padding-bottom: 10px;
          position: relative;
          &:hover{
            opacity: 1;
            &:after{
              width: 100%;
            }
          }
          &:after{
            content: "";
            width: 0;
            height: 1px;
            background: $white00;
            position: absolute;
            left: 50%;
            bottom: -3px;
            transform: translateX(-50%);
            transition: 0.3s;
            @media screen and (max-width: 900px) {
              content: none;
            }
          }
          & span {
            font-size: 16px;
            line-height : (18/16);
            margin-bottom: 1px;
            display: block;
          }
        }
      }
    }
  }
  &__contact {
    font-size: 16px;
    font-weight: 500;
    line-height : (19/16);
    letter-spacing: .2em;
    text-align: center;
    width: 240px;
    padding: 20px 0;
    margin: 55px auto 0;
    display: block;
    border : solid 1px $white00;
    border-radius: 50px;
  }
  &__low {
    margin-top: 50px;
    @include flex(flex, wrap, center, center, normal, row);
    & > a {
      font-size: 18px;
      font-weight: 500;
      line-height: (22/18);
      letter-spacing: .2em;
      display: block;
      &:nth-of-type(n + 2) {
        margin-left: 22px;
      }
    }
  }
  &__copyright{
    @include font-size(14);
    font-weight: 500;
    line-height: (17/14);
    display: block;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-top: 71px;
    @include mq_sp{
      @include fz_vw(24);
      margin-top: size_sp(54);
    }
  }
}