/*  layout > footer
============================================================================================================ */

.common-footer{
  position: relative;
  background-color: $brown01;
  color: $white00;
  @include mq_sp{}
  &__inner{
    max-width: 768px;
    width: 100%;
    padding: 44px 0 22px;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(390);
      padding: size_sp(82) 0 size_sp(30);
    }
  }
  &__logo {
    width: 111px;
    margin: 0 auto;
    @include mq_sp{
      width: size_sp(111);
    }
  }
  &__sns {
    margin-top: 30px;
    @include flex(flex, wrap, center, center, normal, row);
    @include mq_sp{
      margin-top: size_sp(50);
    }
    & a {
      line-height :1;
      width: 26px;
      display: block;
      @include mq_sp{
        width: size_sp(60);
      }
      &:nth-of-type(n + 2) {
        margin-left: 20px;
        @include mq_sp{
          margin-left: size_sp(50);
        }
      }
      & img {
        height : auto;
      }
    }
  }
  &__nav{
    margin-top: 49px;
    @include mq_sp{
      margin-top: size_sp(45);
    }
    &Menu{
      @include flex(flex, wrap, center, normal, normal, row);
      line-height: 1;
      li{
        font-size: 20px;
        line-height : (22/20);
        letter-spacing: 0.1em;
        text-align: center;
        border-bottom: solid 1px $white00;
        @include mq_sp{
          @include fz_vw(24);
          line-height: 1;
          border-bottom: solid size_sp(1) $white00;
        }
        a{
          display: block;
          padding-bottom: 10px;
          position: relative;
          @include mq_sp{
            padding-bottom: size_sp(10);
          }
          &:hover{
            opacity: 1;
            &:after{
              width: 100%;
            }
          }
          &:after{
            content: "";
            width: 0;
            height: 1px;
            background: $white00;
            position: absolute;
            left: 50%;
            bottom: -3px;
            transform: translateX(-50%);
            transition: 0.3s;
            @media screen and (max-width: 900px) {
              content: none;
            }
          }
          & span {
            font-size: 16px;
            line-height : (18/16);
            margin-bottom: 1px;
            display: block;
            @include mq_sp{
              @include fz_vw(20);
              line-height: 1;
              margin-bottom: size_sp(3);
            }
          }
        }
      }
    }
  }
  &__contact {
    font-size: 16px;
    font-weight: 500;
    line-height : (19/16);
    letter-spacing: .2em;
    text-align: center;
    width: 240px;
    padding: 20px 0;
    margin: 55px auto 0;
    display: block;
    border : solid 1px $white00;
    border-radius: 50px;
    @include mq_sp{
      @include fz_vw(24);
      line-height: (29/24);
      width: size_sp(390);
      padding: size_sp(14) 0 size_sp(16);
      margin-top: size_sp(69);
      border : solid size_sp(1) $white00;
    }
  }
  &__low {
    margin-top: 50px;
    @include flex(flex, wrap, center, center, normal, row);
    @include mq_sp{
      margin-top: size_sp(79);
    }
    & > a {
      font-size: 18px;
      font-weight: 500;
      line-height: (22/18);
      letter-spacing: .2em;
      display: block;
      @include mq_sp{
        @include fz_vw(22);
        line-height: (27/22);
      }
      &:nth-of-type(n + 2) {
        margin-left: 22px;
        @include mq_sp{
          margin-left: size_sp(40);
        }
      }
    }
  }
  &__copyright{
    @include font-size(14);
    font-weight: 500;
    line-height: (17/14);
    display: block;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-top: 71px;
    @include mq_sp{
      @include fz_vw(22);
      line-height: (27/22);
      margin-top: size_sp(54);
      letter-spacing: .2em;
      margin-top: size_sp(50);
    }
  }
}