/* layout > header
============================================================================== */

$header_height_pc: 82px;
$header_height_sp: size_sp(115);

.home{
  // .common-header{
  //   background : transparent;
  // }
}

.common-header{
  width: 100%;
  padding: 0 30px;
  height: $header_height_pc;
  background: $brown01;
  color: $white00;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: $white00;
  transition: 0.5s;
  z-index : 200;
  @include mq_tab{
    height: 115px;
  }
  @include mq_sp{
    height: $header_height_sp;
    padding: 0px size_sp(27) 0 size_sp(30);
  }
  &.open{
    background: $black00;
  }
  &.is-active{
    background: $black00;
    box-shadow: 0 3px 6px rgba($black00,0.1);
  }
  &__inner{
    @include flex(flex, wrap, space-between, center, normal, row);
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include mq_tab{}
    @include mq_sp{}
  }
  &__logo{
    position: relative;
    font-size: 0;
    font-weight: 400;
    width: 124px;
    margin-top: -5px;
    z-index : 100;
    @include mq_tab{
      width: 208px;
      margin-top: -12px;
    }
    @include mq_sp{
      width: size_sp(208);
      margin-top: size_sp(-12);
    }
    a{
      display: block;
      position: relative;
      width: 100%;
      @include mq_sp{
      }
    }
  }
  &__toggle{
    display: none;
    @include mq_tab{
      width: 66px;
      height: 63px;
      display: block;
      position: absolute;
      top : 50%;
      right : 0;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 100;
    }
    @include mq_sp{
      display: block;
      width: size_sp(66);
      height: size_sp(63);
    }
    &.open{
      span{
        &:first-of-type{
          @include mq_tab{
            top: 50%;
            left: 10px;
            transform: translateY(-130%) rotate(-45deg);
          }
          @include mq_sp{
            left : size_sp(10);
          }
        }
        &:nth-of-type(2){
          @include mq_tab{
            opacity: 0;
          }
        }
        &:last-of-type{
          @include mq_tab{
            left: 9px;
            bottom: 50%;
            transform: translateY(-30%) rotate(45deg);
          }
          @include mq_sp{
            left: size_sp(9);
          }
        }
      }
    }
    span{
      position: absolute;
      transition: 0.5s;
      @include mq_tab{
        display: block;
      }
      &:first-of-type{
        @include mq_tab{
          width: 100%;
          height: 8px;
          background: $white00;
          top: 0;
          left: 0;
          border-radius: 10px;
        }
        @include mq_sp{
          border-radius: size_sp(10);
        }
      }
      &:nth-of-type(2){
        @include mq_tab{
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        @include mq_tab{
          font-size: 18px;
          font-weight: 700;
          line-height: (27/18);
          letter-spacing: .22em;
        }
        @include mq_sp{
          @include fz_vw(18);
        }
      }
      &:last-of-type{
        @include mq_tab{
          width: 100%;
          height: 8px;
          background: $white00;
          bottom: 0;
          left: 0;
          border-radius: 10px;
        }
        @include mq_sp{
          height: size_sp(8);
          border-radius: size_sp(10);
        }
      }
    }
  }
  &__right{
    @include mq_tab{
      display: none;
    }
    &-inner {
      @include flex(flex, wrap, center, center, normal, row);
      @include mq_tab{
        width: 100vw;
        padding: 144px 0 185px;
        background-color: rgba($brown01,.8);
        flex-direction: column;
        position : absolute;
        top: 0;
        left: -30px;
        z-index : -1;
      }
      @include mq_sp{
        padding: size_sp(144) 0 size_sp(185);
        left: size_sp(-30);
      }
    }
  }
  &__menu{
    @include flex(flex, nowrap, center, flex-end, normal, row);
    width: 100%;
    @include mq_tab{
      width: 438px;
      margin: 0 auto;
      flex-wrap: wrap;
    }
    @include mq_sp{
      width: size_sp(438);
    }
    & >li{
      font-size: 20px;
      font-weight: 400;
      line-height: (18/20);
      font-style : Italic;
      letter-spacing: 0.1em;
      @include mq_tab{
        font-size: 24px;
        line-height: (27/24);
        font-style: normal;
        text-align: center;
        margin: 0 35px;
      }
      @include mq_sp{
        @include fz_vw(24);
        line-height: (27/24);
        margin: 0 size_sp(35);
      }
      &:nth-of-type(n + 2) {
        margin-left: 29px;
        @include mq_tab{
          margin-top: 49px;
        }
        @include mq_sp{
          margin-top: size_sp(49);
        }
      }
      &:last-of-type {
        font-size: 18px;
        font-style: normal;
        line-height: (27/18);
        letter-spacing: .2em;
        @include mq_tab{
          width: 369px;
          margin: 49 auto 0;
          border : solid 1px $white00;
          border-radius : 50px;
        }
        @include mq_sp{
          @include fz_vw(24);
          line-height: (29/24);
          width: size_sp(369);
          margin: size_sp(49) auto 0;
          border : solid size_sp(1) $white00;
          border-radius : size_sp(50);
        }
        & > a {
          @include mq_tab{
            padding: 15px 0 17px;
            border-bottom : none;
          }
          @include mq_sp{
            padding: size_sp(15) 0 size_sp(17);
          }
        }
      }
      & > a{
        padding-bottom: 6px;
        display: block;
        position: relative;
        border-bottom: solid 1px $white00;
        @include mq_tab{
          padding-bottom: 10px;
          display: inline-block;
          border-bottom: solid 1px $white00;
        }
        @include mq_sp{
          padding-bottom: size_sp(10);
          border-bottom: solid size_sp(1) $white00;
        }
        & > small {
          font-size: 16px;
          line-height: (14/16);
          letter-spacing: .1em;
          display: block;
          margin-bottom: 2px;
          @include mq_tab{
            font-size: 22px;;
            line-height: (24/22);
            margin-bottom: -1px;
          }
          @include mq_sp{
            @include fz_vw(22);
            line-height: (24/22);
            margin-bottom: size_sp(-1);
          }
        }
        & > span {
          letter-spacing: .1em;
        }
      }
    }
  }
  &__lang {
    margin-left: 36px;
    @include flex(flex, nowrap, center, center, normal, row);
    position: relative;
    @include mq_tab{
      margin-left: 0;
      position: absolute;
      left: 50%;
      bottom: 68px;
      transform: translateX(-50%);
    }
    @include mq_sp{
      bottom : size_sp(68);
    }
    & > a {
      font-size: 18px;
      font-weight: 400;
      line-height: (27/18);
      letter-spacing: .2em;
      padding: 6px 0;
      display: block;
      border-bottom: solid $white00 1px;
      @include mq_tab{
        font-size: 24px;
        line-height: (27/24);
        padding: 3px 0;
        border-bottom: solid $white00 1px;
      }
      @include mq_sp{
        @include fz_vw(28);
        line-height: (45/28);
        padding: size_sp(3) 0;
        border-bottom: solid $white00 size_sp(1);
      }
      &:nth-of-type(n + 2) {
        margin-left: 26px;
        @include mq_tab{
          margin-left: 40px;
        }
        @include mq_sp{
          margin-left: size_sp(40);
        }
      }
    }
    &:before {
      content : "/";
      font-size: 18px;
      line-height: (27/18);
      color : $white00;
      position: absolute;
      top : 50%;
      left: 50%;
      transform: translate(-90%, -50%);
      @include mq_sp{
        @include fz_vw(28);
        line-height: (45/28);
      }
    }
  }
  &__sns{
    margin-left: 37px;
    @include flex(flex, nowrap, center, center, normal, row);
    @include mq_tab{
      margin-top: 42px;
      margin-left: 0;
    }
    @include mq_sp{
      margin-top: size_sp(42);
    }
    & > a {
      width: 37px;
      display: block;
      @include mq_tab{
        width: 60px;
      }
      @include mq_sp{
        width: size_sp(60);
      }
      &:nth-of-type(n + 2) {
        margin-left: 30px;
        @include mq_tab{
          margin-left: 50px;
        }
        @include mq_sp{
          margin-left: size_sp(50);
        }
      }
      & > img {
        height: auto;
      }
    }
  }
}