/* layout > header
============================================================================== */

$header_height_pc: 82px;
$header_height_sp: size_sp(99);

.home{
  .common-header{
  }
}

.common-header{
  width: 100%;
  padding: 0 30px;
  height: $header_height_pc;
  background: $brown01;
  color: $white00;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: $white00;
  transition: 0.5s;
  @include mq_sp{
    height: $header_height_sp;
  }
  &.open{
    background: $black00;
  }
  &.is-active{
    background: $black00;
    box-shadow: 0 3px 6px rgba($black00,0.1);
  }
  &__inner{
    @include flex(flex, wrap, space-between, stretch, normal, row);
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include mq_tab{}
    @include mq_sp{}
  }
  &__logo{
    position: relative;
    font-size: 0;
    font-weight: 400;
    width: 124px;
    margin-top: 18px;
    @include mq_tab{
    }
    @media screen and (max-width: 900px) {
      @include abso-center();
    }
    @include mq_sp{
      width: size_sp(200);
    }
    a{
      display: block;
      position: relative;
      width: 100%;
      @include mq_sp{
      }
    }
  }
  &__toggle{
    @include abso-center-v();
    display: none;
    width: 54px;
    height: 45px;
    left: 27px;
    cursor: pointer;
    @media screen and (max-width: 900px) {
      display: block;
    }
    @include mq_sp{
      display: block;
      width: size_sp(54);
      height: size_sp(45);
      left: size_sp(27);
    }
    &.open{
      span{
        &:first-of-type{
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:last-of-type{
          bottom: 50%;
          transform: translateY(50%) rotate(45deg);
        }
      }
    }
    span{
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background: $white00;
      transition: 0.5s;
      @media screen and (max-width: 900px) {
        display: block;
      }
      @include mq_sp{
        height: size_sp(3);
      }
      &:first-of-type{
        top: 0;
      }
      &:nth-of-type(2){
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-of-type{
        bottom: 0;
      }
    }
  }
  &__right{
    @include flex(flex, wrap, center, center, normal, row);
    @media screen and (max-width: 900px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      transform: none;
      width: 100%;
      padding: 30px 0 30px;
      background-color: rgba($black00,0.8);
    }
    @include mq_sp{
      padding: size_sp(30) 0 size_sp(30);
    }
  }
  &__menu{
    @include flex(flex, nowrap, center, flex-end, normal, row);
    width: 100%;
    @media screen and (max-width: 900px) {
      display: block;
      flex-wrap: wrap;
    }
    @include mq_sp{
    }
    li{
      font-size: 20px;
      font-weight: 400;
      line-height: (18/20);
      font-style : Italic;
      letter-spacing: 0.1em;
      border-bottom: solid 1px $white00;
      @include mq_tab{
        @include font-size(16);
      }
      @media screen and (max-width: 900px) {
        @include font-size(30);
        text-align: center;
        line-height: 1;
        letter-spacing: 0.15em;
        margin-right: 0;
      }
      @include mq_sp{
        @include fz_vw(30);
      }
      &:nth-of-type(n + 2) {
        margin-left: 29px;
      }
      &:nth-of-type(3) {
        font-size: 18px;
        font-style: normal;
        line-height: (27/18);
        letter-spacing: .2em;
      }
      a{
        padding-bottom: 6px;
        display: block;
        position: relative;
        @media screen and (max-width: 900px) {
          display: inline-block;
          padding: 39px 0;
        }
        @include mq_sp{
          padding: size_sp(39) 0;
        }
        & > small {
          font-size: 16px;
          line-height: (14/16);
          letter-spacing: .1em;
          display: block;
          margin-bottom: 2px;
        }
        & > span {
          letter-spacing: .1em;
        }
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  &__lang {
    margin-left: 36px;
    @include flex(flex, nowrap, center, center, normal, row);
    position: relative;
    & > a {
      font-size: 18px;
      font-weight: 400;
      line-height: (27/18);
      letter-spacing: .2em;
      padding: 6px 0;
      display: block;
      border-bottom: solid $white00 1px;
      &:nth-of-type(n + 2) {
        margin-left: 26px;
      }
    }
    &:before {
      content : "/";
      font-size: 18px;
      line-height: (27/18);
      color : $white00;
      position: absolute;
      top : 50%;
      left: 50%;
      transform: translate(-90%, -50%);
    }
  }
  &__sns{
    margin-left: 37px;
    @include flex(flex, nowrap, center, center, normal, row);
    & > a {
      width: 37px;
      display: block;
      &:nth-of-type(n + 2) {
        margin-left: 30px;
      }
      & > img {
        height: auto;
      }
    }
  }
}