.top-around {
  padding-top: 146px;
  @include mq_sp{
    padding-top: size_sp(106);
  }
  &__list {
    width: 1180px;
    // padding-top: 84px;
    padding-top: 52px;
    margin: 0 auto;
    @include flex(flex, wrap, flex-start, stretch, normal, row);
    @include mq_tab{
      width: 760px;
    }
    @include mq_sp{
      width: size_sp(670);
      // padding-top: size_sp(94);
      padding-top: size_sp(43);
    }
    & > li {
      width: 360px;
      position : relative;
      @include mq_sp{
        width: size_sp(304);
      }
      &:not(:nth-of-type(3n)) {
        margin-right: 50px;
        @include mq_tab{
          margin-right: 0;
        }
      }
      &:not(:nth-of-type(2n)) {
        @include mq_tab{
          margin-right: 40px;
        }
        @include mq_sp{
          margin-right: size_sp(62);
        }
      }
      &:nth-of-type(n + 4) {
        // margin-top: 84px;
        margin-top: 101px;
        @include mq_tab{
          margin-top: 70px;
        }
        @include mq_sp{
          margin-top: size_sp(70);
        }
      }
      &:nth-of-type(n + 3) {
        @include mq_tab{
          margin-top: 70px;
        }
        @include mq_sp{
          // margin-top: size_sp(70);
          margin-top: size_sp(80);
        }
      }
    }
  }
  &__name {
    @include flex(flex, wrap, flex-start, center, normal, row);
    position: relative;
    @include mq_sp{
      justify-content: center;
      flex-direction: column;
    }
    &-num {
      font-size: 28px;
      font-weight: 400;
      line-height: (41/28);
      text-align: center;
      width: 58px;
      position: relative;
      margin-right: 18px;
      @include mq_sp{
        @include fz_vw(28);
        line-height: (41/28);
        width: auto;
        padding-bottom: size_sp(2);
        margin-bottom: size_sp(28);
        margin-right: 0;
      }
      &:before {
        content : "";
        width: 2px;
        height: 70px;
        position: absolute;
        background-color: $brown04;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include mq_sp{
          width: size_sp(70);
          height: size_sp(2);
          position : absolute;
          top: auto;
          bottom: 0;
          left: 50%;
          right: auto;
          transform: translate(-50%, 0);
        }
      }
    }
    & > span {
      font-size: 24px;
      font-weight: 400;
      line-height: (36/24);
      letter-spacing: .08em;
      width: 284px;
      min-height: 82px;
      @include flex(flex, wrap, flex-start, center, normal, row);
      @include mq_sp{
        @include fz_vw(28);
        line-height: (41/28);
        min-height: size_sp(82);
        text-align: center;
        width: 100%;
        justify-content: center;

      }
    }
  }
  &__img {
    height: 360px;
    margin-top: 8px;
    position : relative;
    @include mq_sp{
      width: size_sp(300);
      height : size_sp(300);
      margin-top: size_sp(44);
    }
    & > img {
      border-radius: 20px;
      overflow: hidden;
      @include mq_sp{
        border-radius: size_sp(20) 0 size_sp(20) size_sp(20);
      }
    }
  }
  &__tag {
    font-size: 14px;
    font-weight: 400;
    line-height: (21/14);
    letter-spacing: .1em;
    text-align: center;
    background-color: $brown03;
    padding: 3px 10px 6px;
    position: absolute;
    top : -0.5px;
    right : 0;
    border-radius: 0px 0px 0px 10px;
    @include mq_sp{
      @include fz_vw(20);
      line-height: (29/20);
      padding: 0 size_sp(8);
      border-radius: size_sp(10) 0px 0px 0px;
      top : size_sp(-30);
    }
  }
  &__sns {
    width : 94px;
    height: 60px;
    background-color:$brown01;
    display: block;
    border-radius: 30px 0px 0px 30px;
    position : absolute;
    right : 0;
    bottom: -13px;
    @include mq_sp{
      width: size_sp(94);
      height: size_sp(60);
      border-radius: size_sp(30) 0px 0px size_sp(30);
      bottom: size_sp(-20);

    }
    & > span {
      width: 37px;
      height: 37px;
      display: block;
      position : absolute;
      top : 50%;
      right: 20px;
      transform : translateY(-50%);
      @include mq_sp{
        width: size_sp(37);
        height: size_sp(37);
        right: size_sp(20);
      }
      & > img {
        display: block;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  &__txt {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .2em;
    margin-top: 43px;
    @include mq_sp{
      @include fz_vw(24);
      line-height: (34/24);
      letter-spacing: .06em;
      margin-top: size_sp(50);
    }
  }
}