/* module > btn
============================================================================ */

.btn__more{
  @include font-size(14);
  position: relative;
  display: block;
  width: 261px;
  padding: 15px 0;
  margin: 50px auto 0;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  left: 0.05em;
  background: $black00;
  color: $white00;
  text-align: center;
  cursor: pointer;
  @include mq_sp{
    @include fz_vw(26);
    width: size_sp(435);
    padding-bottom: size_sp(40);
    margin-top: size_sp(85);
  }
  &:hover{
    opacity: 1;
  }
}

.fixed-btn {
  width: 46px;
  background-color: $white00;
  border-radius: 6px 0px 0px 6px;
  position : fixed;
  right : 0;
  bottom : 20px;
  box-shadow: -2px 5px 4px 0px rgba(0, 0, 0, 0.40);
  overflow: hidden;
  z-index: 100;
  @include mq_sp{
    width: size_sp(83);
    border-radius: size_sp(6) 0px 0px size_sp(6);
    box-shadow: size_sp(-2) size_sp(5) size_sp(4) 0px rgba(0, 0, 0, 0.40);
  }
  &.is-stop{
    position: absolute;
    bottom: calc(100% + 20px);
    @include mq_sp{
      $vw_40: size_sp(40);
      bottom: calc(100% + #{$vw_40});
    }
  }
  &__inner {
    padding-top: 7px;
    @include mq_sp{
      padding-top: size_sp(12);
    }
  }
  &__txt {
    font-size: 12px;
    font-weight: 400;
    line-height: (18/12);
    text-align: center;
    color : $brown04;
    padding-left: 2px;
    @include mq_sp{
      @include fz_vw(22);
      line-height: (29/22);
      padding-left: 0;
    }
  }
  &__list {
    margin-top: 4px;
    @include flex(flex, wrap, flex-start, center, normal, row);
    @include mq_sp{
      margin-top: size_sp(8);
    }
    & > a{
      font-size: 16px;
      line-height: (14/16);
      letter-spacing: .06em;
      font-style: italic;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      -webkit-text-orientation: sideways;
      text-orientation: sideways;
      color : $white00;
      padding: 7px 9px;
      border-left : solid 3px $white00;
      border-bottom : solid 3px $white00;
      border-top : solid 3px $white00;
      display: block;
      @include mq_sp{
        @include fz_vw(26);
        padding: size_sp(14) size_sp(20);
        border-left : solid size_sp(3) $white00;
        border-bottom : solid size_sp(3) $white00;
        border-top : solid size_sp(3) $white00;
      }
      &:first-of-type {
        background: $brown02;
      }
      &:nth-of-type(2) {
        background: $green01;
      }
      & > small {
        font-size: 12px;
        line-height: (11/12);
        display: block;
        @include mq_sp{
          @include fz_vw(20);
        }
      }
    }
  }
}